<section class="default-container">
    <div class="header-section">
        <h3>Blog</h3>
    </div>
    <div class="list-blog">
        {% assign items = site.posts | where: 'categories', 'blog' %}
        {% for post in items %}
            <!--{{post.date}}-->
            <div class="blog-item">
                <a class="card-blog-item" href="{{ post.url }}">
                    <img class="portada" src="{{post.image}}" alt="{{post.url}}">
                    <div class="encabezado">
                        <div class="subheader">
                            <div class="author">{{post.author}}</div>
                            <div class="date">{{post.date  | date: "%-d %B %Y"}}</div>
                        </div>
                        
                        <span class="title" >{{ post.title }}</span>
                        {{post.excerpt}}
                    </div>
                    
                </a>
                
            </div>
        {% endfor %}
        </div>
    
</section>