@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.container-blog{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    padding: 30px 1.5rem 0 1.5rem;
}

.container-blog article{
    width: 100%;
}

.post-header{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.post-header .title-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content{
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.post-title, .post-content h1{
    font-size: 2.5rem;
    letter-spacing: -1px;
    line-height: 1.15;
}

article header img.cover{
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    max-width: 650px;
}


.post-content p,.post-content li{
    font-size: 18px;
    
    line-height: 1.6;
}


.post-content h2{
    font-size: 2rem;
}

.post-content h3{
    font-size: 1.4rem;
}

.post-content h4{
    font-size: 1.2rem;
}