@import "variables.css";
@import "sintax.css";
@import "blog.css";

/*
@font-face{
    font-family: "MavenPro-Regular";
    src: url("/assets/fonts/MavenPro-Regular.ttf")

}*/

body{
    margin: 65px 0 0 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    line-height: 1.6;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

button{
    cursor: pointer;
}

.main-nav{
    background-color: var(--bg-nav-color);
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--border-nav-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    transition: padding .5s ease-in-out;
    font-weight: 600;
}

@media (min-width: 1100px){
    .main-nav{
        padding: 1.25rem 1rem;
        justify-content: flex-start !important;
    }
}

.main-nav>.brand-title{
    white-space: nowrap;
    padding: .6rem;
    text-decoration: none;
    color: var(--text-primary-color);
}

.navbar-toggler{
    
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);

    font-size: 1rem;
    margin: 0.5rem 0;

    padding: .25rem .75rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .25rem;
}

@media (min-width: 1100px){
    .navbar-toggler{
        display: none;
    }
}

.navbar-toggler>.icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    
    background-size: 100% 100%;

}

.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    border-top: 1px solid #DDDDDD;
}
.navbar-collapse:not(.show){
    display: none;
}

@media (min-width: 1100px){
    .navbar-collapse{
        border: 0;
        padding: 0 .6rem;
        display: flex !important;
        flex-basis: auto;
    }
}

.navbar-collapse>.navbar-nav{
    list-style: none;
    padding-left: .6rem;
    margin: 1rem 0;
    flex-direction: column;
    display: flex;
}

@media (min-width: 1100px){
    .navbar-collapse>.navbar-nav{
        flex-direction: row;
        margin-left: auto;
    }
}

.navbar-collapse .navbar-nav li.nav-item{
    list-style: none;
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    
}

.nav-link{
    padding: .9rem;
    /*display: block;*/
    color: var(--text-primary-color);
    text-decoration: none;
}

.default-container{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 0 0;
}

.presentacion-bg{
    background: linear-gradient(var(--color1), var(--color2));
    padding-bottom: 7rem;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 9% 93%, 15% 89%, 18% 96%, 28% 94%, 37% 100%, 47% 93%, 62% 99%, 75% 91%, 80% 98%, 91% 94%, 100% 100%);
    
}

.presentacion-card{

    padding: 30px 1.5rem 30px 1.5rem;

    color: inherit;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 2px #888;
    text-align: center;
    background-color: var(--bg-primary-color);
    
    margin: 50px 1rem 0 1rem;
}

@media (min-width: 1100px){
    .presentacion-card{
        margin: 100px 0 0 0;
    }
}

.presentacion-card .presentacion-image{
    max-width: 200px;
    border-radius: 50%;
    vertical-align: middle;
    
}

div.list-blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

@media (min-width: 1100px){
    div.list-blog{
        grid-template-columns: 1fr 1fr;
    }
}

div.list-blog>div.blog-item{
    display: block;
}

div.blog-item>.card-blog-item{
    /*border-radius: 10px;*/
    box-shadow: 1px 5px 12px 2px #888;
    min-height: 22rem;
    height: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0 1rem;
}

@media (min-width: 1100px){
    div.blog-item>.card-blog-item{
        margin: 0;
    }
}


.card-blog-item>.portada{
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}

.card-blog-item>.encabezado{
    padding: 0 .75rem 1rem .75rem;
}

.card-blog-item>.encabezado a{
    text-decoration: none;
    
}

.card-blog-item>.encabezado .subheader{
    display: flex;
    flex-direction: row;
    padding: 0 0px 10px;
    justify-content: space-between;
}

.card-blog-item>.encabezado .author{
    font-size: .9rem;
    float: left;
    color: var(--text-secondary-color);
}

.card-blog-item>.encabezado .date{
    font-size: .9rem;
    float: right;
    color: var(--text-secondary-color);
}

.card-blog-item>.encabezado p{
    font-size: 1rem;
}

.card-blog-item>.encabezado .title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1rem;
    color: var(--text-primary-color);
}


.redes-section{
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.redes-section .red-icon{
    height: 1.8rem;
    margin: -5px 0 0;
}

.header-section{
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    font-size: 1.1rem;
}