<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
    <div class="presentacion-bg">
        <div class="default-container">
            <div class="presentacion-card">
                
                <img src="/assets/images/foto2.webp" alt="Foto de Miguel y una computadora" class="presentacion-image">
                <div class="presentacion-title">{{page.title}}</div>
                
                
                <div class="presentacion-content">
                    {{content}}    
                </div>
                
            </div>
        </div>
    </div>
    <div class="redes-section">
        
        <a href="https://www.linkedin.com/in/migueldnt/" target="_blank" rel="noopener noreferrer"><img class="red-icon" src="/assets/images/linkedin.svg" alt="linkedin"></a>
        &nbsp;
        <a href="https://github.com/migueldanto" target="_blank" rel="noopener noreferrer"><img class="red-icon" src="/assets/images/github.svg" alt="github"></a>
        &nbsp;
        
        <a href="/feed.xml" target="_blank" rel="noopener noreferrer"><img class="red-icon" src="/assets/images/rss.svg" alt="rss"></a>
    </div>
    <hr>
    {% include all_items_portafolio.html%}

    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>


